<div class="relative w-full md:w-60 p-[2px] rounded-none" style="
    background: linear-gradient(
      135deg,
      #FF8C00 0%,
      #FFA500 25%,
      #FFD700 50%,
      #FFFF00 75%,
      #FF4500 100%
    );
    box-shadow: 0 0 10px rgba(255, 165, 0, 0.7),
                0 0 20px rgba(255, 215, 0, 0.5);
">
  <nav class="bg-[#3D2D52] text-white w-full h-full rounded-[10%] flex md:flex-col overflow-x-auto md:overflow-y-auto">
    <ul class="flex md:flex-col w-full divide-y divide-yellow-400/20">
      <li *ngFor="let item of menuItems"
          class="px-4 py-3 cursor-pointer hover:bg-[#312442] transition-colors"
          [routerLink]="item.link"
          routerLinkActive="bg-[#312442]">
        <a class="block hover:text-[#aaaa]" [routerLink]="item.link" routerLinkActive="text-[#7E93A8] font-semibold">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
</div>
